<div class="thumb-layout">
  <div class="row" style="display:flex; flex-wrap:wrap;">
    <% foods.each do |food| %>
      <div class="col-md-2 col-sm-4">
        <div class="thumbnail">
          <a href="/foods/<%= food.id %>" alt="<%= food.name %>"><img src="<%= food.img_url %>"></a>
          <div class="caption">
            <h4><%= link_to food.name, food, class: "text-center" %></h4>
            <div class="row cart">
              <div class="col-md-8"><span><%= t("views.static_pages.home.slider.price") + ": $#{food.price}" %></span></div>
              <div class="col-md-4">
                <button value="<%= food.id %>" class="show-add" data-toggle="modal" data-target="#addFood"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></button>
              </div>
            </div>
            <br>
            <span><%= link_to food.user.name, food.user %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
