<h1><%= t("views.user_mailer.account_activation.title") %></h1>

<p><%= t("views.user_mailer.account_activation.hi") %> <%= @user.name %>,</p>

<p>
<%= t("views.user_mailer.account_activation.welcome") %>
</p>

<%= link_to t("views.user_mailer.account_activation.activate"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
