<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <%= image_tag @user.avatar_url, alt: @user.name, class: "show_avatar" %>
      <hr>
      <% if correct_user @user %>
        <%= link_to t("views.users.show.edit"), edit_user_path(@user), class: "btn btn-warning" %>
      <% end %>
      <h1><%= @user.name %></h1>
    </section>
    <p><strong><%= t "views.users.show.email" %>:</strong> <%= @user.email %></p>
    <p><strong><%= t "views.users.show.phone_number" %>:</strong> <%= @user.phone_number %></p>
  </aside>
</div>
<hr>
<h1 class="text-center"><%= t "views.users.show.by_chef" %></h1>

<div class="thumb-layout">
  <div class="row">
    <% @foods.each do |food| %>
      <div class="col-md-2 col-sm-4">
        <div class="thumbnail">
          <%= link_to food do %>
            <%= image_tag food.img_url, alt: food.name %>
          <% end %>
          <div class="caption">
            <h4><%= link_to food.name, food, class: "text-center" %></h4>
            <div class="row cart">
              <div class="col-md-8"><span><%= t("views.static_pages.home.slider.price") + ": $#{food.price}" %></span></div>
            </div>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
