<div class="thumb-layout">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <input type="hidden" id="order_id" value="<%= order.id %>">
          <span><%= t "views.static_pages.show_orders.destination" %>: <%= order.address %></span>
          <br>
          <span><%= t "views.static_pages.show_orders.customer" %>: <%= link_to order.customer.name , @user, :class => "text-center"%></span>
          <br>
          <span><%= t "views.static_pages.show_orders.total_money" %>: $<%= order.total_money %></span>
          <br>
          <% if order.new? %>
            <span><%= t "views.static_pages.show_orders.new" %></span>
            <br>
          <% elsif order.in_progress?  %>
            <span><%= t "views.static_pages.show_orders.inprogress" %></span>
            <br>
          <% else %>
            <span><%= t "views.static_pages.show_orders.done" %></span>
            <br>
          <% end %>
          <% if order.in_progress? %>
            <%= link_to t("views.static_pages.show_orders.details"), order %>
          <% else %>
            <a href="#" data-toggle="modal" data-target="#modal-<%= order.id %>"> <%= t("views.static_pages.show_orders.details") %></a>
          <% end %>

          <div id="modal-<%= order.id %>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <input type="hidden" name="order_id">
                <h3><%= t "views.static_pages.show_orders.details" %></h3>
                <ul>
                  <% order.order_details.each do |detail|%>
                    <li><span><%= t "views.static_pages.show_orders.quantity" %></span>: <%= detail.quantity%> <%= Food.find(detail.food_id).name %></li>
                    <li><span><%= t "views.static_pages.show_orders.price_each" %></span>: $<%= detail.total_money %></li>
                    <li>
                      <%= link_to detail.food do %>
                        <%= image_tag Food.find(detail.food_id).img_url, alt: detail.food.name %>
                      <% end %>
                    </li>
                    <br>
                  <% end %>
                </ul>
                <div class="col-sm-6 text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t "views.static_pages.show_orders.close" %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
