<li id="<%= cart.id %>" class="li-cart">
  <div class="container">
    <div id="cart" class="show-cart">
      <img src="<%= cart.food.img_url %>"  height="150" width="150">
    </div>
    <div id="cart-name" class="show-cart">
      <%=cart.food.name %>
    </div>
    <div class="price" id="price-<%= cart.id %>">
      <%=cart.food.price %> $
    </div>
    <input class="quantity" type="number" min="0" style="width: 150px" value="<%= cart.quantity %>" id="cart-<%= cart.id %>">
    <span id="delete-cart"><%= link_to  cart, method: :delete, :remote => true  do%>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
    </span>
  </div>
  <h1></h1>
</li>
