<div id="newFood" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "views.foods.new.new_food" %></h4>
      </div>
      <div class="modal-body">
        <%= form_for Food.new do |f| %>
          <div class="field">
            <%= f.label :name, t("views.foods.new.name") %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :img_url, t("views.foods.new.img_url") %>
            <%= f.text_field :img_url, class: "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :price, t("views.foods.new.price") %>
            <%= f.text_field :price, class: "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :chef, t("views.foods.new.chef")%>
            <%= f.select :user_id, User.chef.collect{|user| [user.name, user.id]}, class: "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :category, t("views.foods.new.category")%>
            <%= f.select :food_category_id, FoodCategory.all.collect{|category| [category.name, category.id]}, class: "form-control" %>
            <%= %>
          </div>
          <br>
          <div class="field">
            <%= f.submit t("views.foods.new.add"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
