<div class="container-fluid <%= @food.id%>">
    <div class="row content" id="food-body">
      <div class="col-xs-6 col-md-2" ></div>
      <div class="col-xs-6 col-md-2" >
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" id="panel-show-food">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <%= t "views.foods.show.setting" %>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <a data-toggle="tab" href="#comments"><%= t "views.foods.show.comment" %></a>
              </div>

              <div class="panel-body">
                <a data-toggle="tab" href="#pictures"><%= t "views.foods.show.image" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-6 col-md-8">
      <div class="row">
        <div class="col-xs-6 col-md-8" >
          <ul class="list-inline" >
            <% if logged_in? %>
            <li class="list-inline-item"><button class="btn btn-info" data-toggle="modal" data-target="#commentModal"><i class="fa fa-comment"></i>&nbsp;<%= t "views.foods.show.comment" %></button></li>
            <% else %>
            <li class="list-inline-item"><button class="btn btn-info" data-toggle="modal" data-target="#loginModal"><i class="fa fa-comment"></i>&nbsp;<%= t "views.foods.show.comment" %></button></li>
            <% end %>
            <li class="list-inline-item"><button class="btn btn-info" href="https://www.facebook.com/dialog/share?app_id=510412632666893&display=popup&href=<%= food_url(@food) %>&redirect_uri=<%= food_url(@food) %>"><i class="fa fa-share-alt"></i>&nbsp;<%= t "views.foods.show.share" %></button></li>
            <li class="list-inline-item"><button class="btn btn-info"><i class="fa fa-phone"></i>&nbsp;<%= t "views.foods.show.call" %></button></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="comments">
        <div class="col-xs-6 col-md-8" >
          <div class="image-gallery-list">
            <ul class="image-gallery-ul">
              <%= render @comments %>
            </ul>
          </div>
        </div>
        </div>

        <div class="tab-pane fade" id="pictures">
          <div class="col-xs-6 col-md-8" >
            <div class="row">
          <% @pictures.each_with_index do |picture,index| %>
                <img id="picture-comment" src=<%=picture.image %> width="130em" height="120em" onclick="openModal();currentSlide(<%= index + 1 %>)">
          <% end %>
            </div>
          </div>
           <div id="myModal" class="modal-picture">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content-picture">
             <% @pictures.each do |picture| %>
              <div class="mySlides">
              <img src=<%=picture.image %> style="width:100%" height="100%">
              </div>
             <% end %>
             <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
             <a class="next" onclick="plusSlides(1)">&#10095;</a>
             <div class="caption-container">
                 <p id="caption"></p>
                </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2" ></div>
    </div>

  </div>
</div>
<%= render "comments/form_comment" %>
<%= javascript_include_tag "food", "data-turbolinks-track": "reload" %>

