<div class="container-fluid">
    <div class="row content" id="food-body">
      <div class="col-xs-6 col-md-2" ></div>
      <div class="col-xs-6 col-md-2" >
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" id="panel-show-food">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <%= t "views.foods.show.setting" %>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <a data-toggle="tab" href="#comments"><%= t "views.foods.show.comment" %></a>
              </div>

              <div class="panel-body">
                <a data-toggle="tab" href="#pictures"><%= t "views.foods.show.image" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-6 col-md-8">
      <div class="row">
        <div class="col-xs-6 col-md-8" >
          <ul class="list-inline" >
            <li class="list-inline-item"><a><i class="fa fa-comment"></i>&nbsp;<%= t "views.foods.show.comment" %></a></li>
            <li class="list-inline-item"><a><i class="fa fa-camera"></i>&nbsp;<%= t "views.foods.show.picture" %></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/dialog/share?app_id=510412632666893&display=popup&href=<%= food_url(@food) %>&redirect_uri=<%= food_url(@food) %>"><i class="fa fa-share-alt"></i>&nbsp;<%= t "views.foods.show.share" %></a></li>
            <li class="list-inline-item"><a><i class="fa fa-phone"></i>&nbsp;<%= t "views.foods.show.call" %></a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="comments">
        <div class="col-xs-6 col-md-8" >
          <div class="image-gallery-list">
            <ul class="image-gallery-ul">
              <%= render @comment_foods %>
            </ul>
          </div>
        </div>
        </div>

        <div class="tab-pane fade" id="pictures">
          <div class="col-xs-6 col-md-8" >
            <div class="row" style="display:flex; flex-wrap:wrap;">
              <% @foods.each do |food| %>
                <div id="picture-comment">
                  <img src="https://www.w3schools.com/w3css/img_fjords.jpg" height="200" width="200">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2" ></div>
    </div>

  </div>
</div>
