<div class="modal fade" id="signupModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#signup-signup"><%= t "views.layouts.signup" %></a></li>
            <li><a data-toggle="tab" href="#login-signup"><%= t "views.layouts.login" %></a></li>
          </ul>
      </div>
      <div class="form-login">
        <div id="form-modal">
          <div class="tab-content">
            <div id="signup-signup" class="tab-pane fade in active">
              <%= render "layouts/signup" %>
            </div>
            <div id="login-signup" class="tab-pane fade">
              <%= render "layouts/login" %>
            </div>
          </div>
        </div>
        <hr>
        <button onclick="login()" class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; <%= t "views.layouts.login_via" %></button>
      </div>
    </div>
  </div>
</div>
