<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">t("layouts.login")</h4>
        </div>
        <div class="modal-body">
          <%= form_for :session, url: login_path do |f| %>
            <%= f.text_field :username, placeholder: t("views.sessions.new.username") %>
            <%= f.password_field :password, placeholder: t("views.sessions.new.password") %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%=t "views.sessions.new.remember" %></span>
           <% end %>
           <%= f.submit t "views.layouts.login" %>
          <% end %>

        </div>
        <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">t("layouts.close")</button>
    </div>
   </div>
  </div>
</div>
