<nav class="navbar navbar-default" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="http://www.free-icons-download.net/images/cute-small-star-icon-34614.png" height="75">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if logged_in? && current_user.admin? %>
        <a class="navbar-brand" href="<%= root_url %>"><%= t "views.layouts.header.my_restaurant" %></a>
      <% else %>
        <a class="navbar-brand" href="<%= root_url %>">Delivery</a>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if logged_in? && current_user.shipper? %>
        <li><a href="<%= orders_path(orders: "new")%>"><%= t "views.layouts.header.new_order" %></a></li>
        <li><a href="<%= orders_path(orders: "done")%>"><%= t "views.layouts.header.done" %></a></li>
        <li><a href="<%= orders_path(orders: "inprogress")%>"><%= t "views.layouts.header.processing" %></a></li>
      <% elsif logged_in? && current_user.admin?%>
        <li><a href="#newFood" data-toggle="modal"><%= t "views.foods.new.new_food" %></a></li>
        <li><a href="#addAnnoucement" data-toggle="modal"><%= t "views.annoucements.add_annoucement" %></a></li>
      <% else %>
        <li><a href= <%=carts_url %>><i class="fa fa-shopping-cart fa-2x" aria-hidden="true" id="cart-icon"></i><span id="badge" class="badge"> <%= cart_amount %></span></a></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !logged_in? %>
        <li><a href="#loginModal" data-toggle="modal" id="login-button"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> <%= t("views.layouts.login") %></a></li>
        <li><a href="#loginModal" data-toggle="modal" id="signup-button"><i class="fa fa-user-plus fa-2x"></i> <%= t "views.layouts.signup"%></a></li>
      <% else %>
        <% if !current_user.admin? %>
          <li>
            <%= link_to orders_path do %>
              <i class="fa fa-list fa-2x" aria-hidden="true"></i> <%= t "views.layouts.orders" %>
            <% end %>
          </li>
        <% else %>
          <li>
              <a href="<%= orders_url %>"><i class="fa fa-list fa-2x" aria-hidden="true"></i> <%= t "views.orders.index.order_month" %></a>
          </li>
          <li>
            <%= link_to foods_path do %>
              <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i> <%= t "views.layouts.header.list_food" %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-users fa-2x" aria-hidden="true"></i> <%= t "views.layouts.header.list_user" %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to current_user do %>
            <i class="fa fa-user fa-2x" aria-hidden="true"></i> <%= t "views.layouts.profile" %>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, remote: true, method: :delete do %>
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> <%= t "views.layouts.logout" %>
          <% end %>
        </li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="language"><i class="fa fa-globe fa-2x" aria-hidden="true"></i> <%= t "views.layouts.language" %><span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li id="en" value = "english"><%= link_to t("views.layouts.en"), locale:"en" %></li>
           <li id="vi" ><%= link_to t("views.layouts.vi"), locale:"vi" %></li>
         </ul>
       </li>
      </ul>
    </div>
  </div>
</nav>
<%= render "layouts/form_login" if !logged_in?%>
<%= render "foods/new" if logged_in? && current_user.admin?%>
<%= javascript_include_tag "login_modal", "data-turbolinks-track": "reload" %>
<%= render "layouts/add_annoucements"  if logged_in? && current_user.admin?%>
